

body {
    /* font-size: 62.5%; */
    font-style: Arial;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    overflow: hidden; /* Hide overflow to prevent scrolling during animation */
    background-image: url("../images/background.jpeg") ;
    color: aliceblue;
   
    font-family: "Sofia", sans-serif;
      
}
.name {
    font-size: 36px;
}

.dev {
    font-size: 16px;
}
.home-list {
    list-style: none;
}
a{
    color: aliceblue;
    text-decoration: none;
}
.bottom-right {
    width: 150px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: 'Mooli';
    font-style: normal;
    font-weight: 700;
}